import:
 - {{ .config_home }}/alacritty/themes/everforest_dark.yaml

env:
  TERM: alacritty

window:
  dimensions:
    columns: 128
    lines: 36
  padding:
    x: 16
    y: 16
  decorations: full
  opacity: 1.0
  startup_mode: Windowed
  title: Alacritty
  dynamic_title: true
  resize_increments: true

scrolling:
  history: 10000
  multiplier: 3

font:
  normal:
    family: FiraCode NFM
    style: Regular
  size: 11.0
  builtin_box_drawing: true

cursor:
  style:
    shape: Block
    blinking: On
  blink_interval: 750
  blink_timeout: 5
  unfocused_hollow: true
  thickness: 0.15

live_config_reload: true

shell:
  program: nu
  args:
    - --login

working_directory: {{ .chezmoi.homeDir }}
